.fixed {
	width: 40px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background: #2A2A2E;
	z-index: 20;
}

.fixed .shopbox {
	width: 40px;
	height: 140px;
	position: absolute;
	top: 47%;
	cursor: pointer;
}

.fixed .shopbox:hover {
	background: #e3393c;
}

.fixed .shopbox span {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.fixed .shopbox i {
	display: inline-block;
	width: 16px;
	height: 14px;
	background: url(../images/Himall_web.png) -1429px 0;
}

.fixed .shopbox p {
	padding: 0 14px;
	color: #E8E8E8;
}

.fixed .shopbox b {
	display: inline-block;
	min-width: 14px;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	background: #e3393c;
	padding: 0 3px;
	text-align: center;
	color: #E8E8E8;
	margin-left: 10px;
	margin-top: 10px;
}

.main {
	width: 1190px;
	margin: 0 auto;
	/*overflow: hidden;*/
}

.main .crump {
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	padding: 12px 0;
	border-bottom: 1px solid #dbdbdb;
}

.main .crump a {
	color: #666666;
	float: left;
	width: 60px;
}

.main .crump li {
	float: left;
}

.main .ajax .left-a {
	width: 200px;
	float: left;
	padding-top: 20px;
}

.main .ajax .left-a h3 {
	height: 14px;
	line-height: 14px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #333333;
	cursor: pointer;
}

.main .ajax .left-a li {
	cursor: pointer;
	width: 50px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.main .list-area {
	width: 990px;
	float: right;
	padding-top: 20px;
}

.main .list-area li {
	height: 312px;
	width: 219px;
	border: 1px dotted #ddd;
	padding: 7px;
	margin-bottom: 10px;
	margin-right: 16px;
	float: left;
}

.main .list-area li:hover {
	border: 1px solid #C4354C;
}

.main .list-area li:nth-of-type(4n) {
	margin-right: 0;
}

.main .list-area li p {
	margin: 10px 0;
	font-size: 12px;
	overflow: hidden;
}

.main .list-area li p strong {
	color: #F00F34;
	font-size: 14px;
	float: left;
	margin-left: 6px;
}

.main .list-area li p span {
	float: right;
	margin-right: 6px;
	color: #6b6c6e;
}

.main .list-area li p span b {
	color: #3CBCBA;
}

.main .list-area li h3 {
	font-size: 13px;
	color: #333;
	height: 20px;
	line-height: 20px;
	margin-left: 6px;
	overflow: hidden;
	width: 213px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 100;
	cursor: pointer;
}

.main .list-area li h4 {
	width: 213px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: 100;
	margin-left: 6px;
	margin-top: 10px;
}

.main .list-area li h4 i {
	display: inline-block;
	height: 14px;
	width: 14px;
	background: url(../images/Himall_web.png) no-repeat -1377px -26px;
	position: relative;
	top: 3px;
	left: 0;
	cursor: pointer;
	z-index: 1;
}

.main .list-area li h4 span {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: #F5F4F4;
	line-height: 28px;
	text-align: center;
	display: inline-block;
	position: relative;
	top: -1px;
	left: 60px;
}